* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

/* utility flex  */

.display-flex {
  display: flex;
}
/* /utility flex  */

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
 
}

main .container {
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: flex-start;
}

header .container {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#topbar {
 position: fixed;
 width: 100vw;
 height: 60px;
 z-index: 999;
 background-color: #FF6900;
}

 #logo img {
    width: 100%;
    height: 20px;
    margin-top: 3px
 }

#topbar nav ul li {
  display: inline;
}

#topbar nav ul li a {
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding-left: 10px;
}

/* cards */

.card {
  background-color: white;
  margin: 5px;
  width: calc(100% / 3 - 10px);
  min-width: 250px;
  position: relative;
}

.card img {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.product-details {
  width: 100%;
}

.card .product-details .brand,
.card .product-details .product-name {
  display: block;
  font-size: .8rem;
}

.card .product-details .price {
  font-size: .7rem;
  font-weight: 600;
  color: red;
}

.card .product-details .discount {
font-size: .7rem;
text-decoration: line-through;
}

/* /cards */


/* elements over the card image  */

.card .heart,
.card .range-discount,
.card .value {
  z-index: 1;
}


.card .heart {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 8px;
  background-color: white;
  width: 30px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  cursor: pointer;
}

.card:hover .heart {
  color: red;
}

.card .range-discount,
.card .value {
  display: inline-block;
  position: absolute;
  top: 80%;
  color: white;
  font-size: .7rem;
  font-weight: 600;
  padding: 4px 6px;
}

.card .range-discount {
  background-color: red;
  left: 0;
}

.card .value {
  position: absolute;
  background-color: green;
  left: 11%;
}


/* img hover  */

.card:first-child img:hover {
  content: url(../img/1b.webp);
}

.card:nth-child(2) img:hover {
  content: url(../img/2b.webp);
}

.card:nth-child(3) img:hover {
  content: url(../img/3b.webp);
}

.card:nth-child(4) img:hover {
  content: url(../img/4b.webp);
}

.card:nth-child(5) img:hover {
  content: url(../img/5b.webp);
}

.card:nth-child(6) img:hover {
  content: url(../img/6b.webp);
}

/* img hover  */

/* footer  */

footer {
  background-color: #0E0E0E;
  color: white;
}

footer .container {

}
/* /footer  */