* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

/* utility flex  */

.display-flex {
  display: flex;
}
/* /utility flex  */

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
 
}

main .container {
  flex-wrap: wrap;
  padding-top: 90px;
  background-color: rgb(111, 162, 232);
  justify-content: flex-start;
}

header .container {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#topbar {
 position: fixed;
 width: 100vw;
 height: 60px;
 z-index: 999;
 background-color: #FF6900;
}

 #logo img {
    width: 100%;
    height: 20px;
    margin-top: 3px
 }

#topbar nav ul li {
  display: inline;
}

#topbar nav ul li a {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

/* cards */

.card {
  background-color: white;
  margin: 5px;
  width: calc(100% / 3 - 10px);
  min-width: 200px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.product-details {
  width: 100%;
  height: 100%;
}


.card .product-details .brand,
.card .product-details .product-name {
  display: block;
  font-size: .8rem;
}



.card .product-details .price {
  font-size: .7rem;
  font-weight: 600;
  color: red;
}

.card .product-details .discount {
font-size: .7rem;
 text-decoration: line-through;
}