* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

/* utility flex  */

.display-flex {
  display: flex;
}
/* /utility flex  */

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  border: 1px solid black;
}

main .container {
  padding-top: 60px;
}

header .container {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#topbar {
 position: fixed;
 width: 100vw;
 height: 60px;
 z-index: 999;
 background-color: #FF6900;
}

 #logo img {
    width: 100%;
    height: 20px;
 }

#topbar nav ul li {
  display: inline;
}

#topbar nav ul li a {
  color: white;
  font-weight: 600;
  font-size: 13px;
}